.in-bg {
    margin: 10px;

    z-index: 2;
}
img.in-bg-img {
    width: 100%;
}
.in-div {
    position: relative;
}
.in-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 25px 20px;
}
.in-con-yue {
    color: #fff;
}
.in-con-font {
    color: #fff;
    font-size: 15px;
    margin: 27px 20px 5px;
}
.in-con-yue{
	display: table;
	float: right;
	margin-right: 10px;
}
.in-con-yue span {
    font-size: 13px;
	display: table-cell;
    vertical-align: middle;
}
.in-cont-n {
    display: table;
    margin: 5px 20px 0;
}
.in-cont-n span {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #FFEA00;
	font-weight: 600;
}
.in-list-div {
    padding: 20px 20px 15px 20px;
    overflow: hidden;
    line-height: 15px;
}
.in-list-botton {
    border-bottom: 1px solid #ebebeb;
    margin: 0 0px 0 42px;
}
img.in-con-img {
    width: 28px;
    margin-left: 5px;
    margin-top: 10px;
}
.in-list-lift {
    float: left;
    font-size: 16px;
}
img.in-Circle-img {
    width: 28px;
    margin-right: 8px;
}
.in-list-right {
    float: right;
    text-align: right;
	font-size: 16px;
}
.in-font{
    margin-top: 6px;
}
.in-font1 {
    color: #F7A00A;
    margin-top: 6px;
}
.in-font2 {
    color: #47A6FA;
    margin-top: 6px;
}
.in-font3 {
    color: #A942E6;
    margin-top: 6px;
}
.in-font4 {
    color: #FE4397;
    margin-top: 6px;
}
.in-div {
    position: relative;
}
.in-y-img{
	width: 16px;
    margin-left: 5px;
}
.in-list {
    position: relative;
}
.in-listc {
    z-index: 3;
    position: absolute;
    width: 100%;
}
.in-listb {
    height: 195px;
    background: #f6f6f6;
    width: 2px;
    position: absolute;
    top: 30px;
    left: 26px;
    z-index: 1;
}



