 *{
        margin: 0;
        padding: 0;
    }
.container{
    width: 1200px;
    margin: 0 auto 50px;
}
ul li{
    list-style: none;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid #fc4502;
    cursor: pointer;
}
.top-part{
    display: flex;
    border-bottom: 1px solid #fc4502;
    padding: 10px 20px;
    box-sizing: border-box;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.top-part img {
    width: 70px;
    height: 70px;
}
.tab-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tab-left{
    width: 300px;
    border-right: 1px solid #fc4502;
}
.f-word{
    border-top: 1px solid #fadbcf;
    font-size: 12;
    color: #999;
}
.tab-right-box{
    width: 980px;
    padding: 10px;
    box-sizing: border-box;
}
.charge-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.charge-type span{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 14px;
    margin-right: 50px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.charge-type span:last-child{
    margin-right:0;
}
.charge-type span img{
    width: 60px;
    margin-bottom: 10px;
}
.charge-type span.active{
    border: 1px solid #fc4502;
    color: #fc4502;
}

.type-num{
    display: flex;
    padding: 0 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.num-one{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border: 1px solid #ddd;
    width: 100px;
    border-radius: 5px;
    margin-right: 25px;
    margin-bottom: 20px;
}
.num-one:last-child{
    margin-right: 0;
}
.num-one.active{
    border: 1px solid #fc4502;
}
.num-one span:nth-of-type(1){
    color: #fbb92c;
    font-size: 16px;
}
.num-one span:nth-of-type(2){
    color: #333;
    font-size: 14px;
}
.num-one.active span:nth-of-type(2){
    color: #fc4502;
    font-size: 14px;
}
.type-title,.num-title{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin: 50px 0px 20px;
}
.charge-btn{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    background:#fc4502;
    margin-top: 50px;
}

.member-title{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin: 50px 0px 20px;
}
.content-one{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 14px;
    margin-right: 70px;
    margin-bottom: 30px;
}
.content-one img{
    margin-bottom: 10px;
    width: 60px;
}
.vip-content{
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
}
.paypage-footer{
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    line-height: 50px;
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: rgba(58,57,58,0.8);
}
.paypage-footer img{
    margin-left: 10px;
}
.orange{
    color:#fc4502;
}
.month-type{
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    justify-content:space-between;
    align-items: center;
}
.month-one{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.month-one span:nth-of-type(1){
    color: #333;
    font-size: 18px;
    font-weight: 600;
}
.month-one span:nth-of-type(2){
    color: #666;
    font-size: 16px;
    margin: 10px 0;
    color: #fc4502;
}
.month-one.active{
    border: 1px solid #fc4502;
}
.month-one.active span:nth-of-type(3){
    color: #fc4502;
}
.top-right {
	float: left;
	margin-left: 15px;
    padding: 18px 0;
}
.el-image {
    border: 1px solid #fc4502;
    padding: 3px;
    border-radius: 3px;
}
.user-Info-left {
    float: left;
    margin-right: 20px;
}
p.user-info-id {
    font-size: 14px;
    color: #838383;
	padding-bottom: 10px;
    padding-top: 5px;
}
.user-Info {
    width: 100%;
}
.user-banner {
    float: right;
    line-height: 150px;
    font-size: 22px;
    color: #fc4502;
    font-weight: 600;
}
.home_vip_svip_width img {
    width: 100px;
    margin-right: 10px;
}
span.main-inline.home_info_gender.home_info_active {
    color: #fff;
    font-size: 12px;
    padding: 7px 6px 9px 15px;
}
.pay-font p{
    font-size: 13px;
    color: #70757C;
    line-height: 20px;
}
.pay-font span{
	font-weight: 600;
    border: 0;
    font-size: 13px;
    padding: 0;

}
.page-title{
	margin-top: 64px;
	margin-bottom: 40px;
}
.top-welcome {
    font-weight: bold;
    color: #333;
    font-size: 24px;
    margin-top: 15px;
    text-align: center;
}
.input-group{
	padding: 0 22px;
	box-sizing: border-box;
}
.phone-part{
                width: 100%;
                border-bottom: 1px solid #EBEBEB;
                display: flex;
                align-items: center;
                padding-bottom: 10px;
            }
            .phone-part input{
                border: 0;
                color: #333;
                font-size: 14px;
                display: inline-flex;
                width: 240px;
                height: 20px;
                align-items: center;
                padding: 0 15px;
                box-sizing: border-box;
                
            }
            .phone-part img{
                width: 14px;
                margin-left: 9px;
                margin-right: 9px;
            }
            .phone-part a{
                height: 20px;
                display: inline-flex;
                align-items: center;
                border-right: 1px solid #EBEBEB;
                color: #333;
                font-size: 14px;
            }
            .password-part{
                width: 100%;
                border-bottom: 1px solid #EBEBEB;
                padding:15px 5px;
            }
            .password-part input{
                border: 0;
                color: #333;
                font-size: 14px;
                height: 20px;
                width: 100%;
            }
            .btn-part{
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 14px;
                padding-top: 5px;
                box-sizing: border-box;
                margin-top: 45px;
            }
            .grey-btn{
                background: url('../../../page/img/login/nopress.png') no-repeat;
                background-size: 100%;
            }
            .b-select-btn{
                background: url('../../../page/img/login/press.png') no-repeat;
                background-size: 100%;
            }
            .b-selected-btn{
                background: url('../../../page/img/login/pressed.png') no-repeat;
                background-size: 100%;
            }
            .bottom-btn{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding:10px 15px;
            }
            .bottom-btn span:nth-of-type(1){
                color: #1C57FF;
                font-size: 13px;
            }
            .bottom-btn span:nth-of-type(2){
                color: #A4A8AD;
                font-size: 13px;
            }
            .bottom-word{
                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                bottom: 20px;
                left: 50%;
                margin-left: -110px;
            }
            .bottom-word img{
                width: 16px;
                margin-right: 4px;
                margin-top: -1px;
            }
            .bottom-word span:nth-of-type(1){
                font-size: 12px;
                color:#333333;
                margin:0 6px 0 4px;
            }
            .bottom-word span:nth-of-type(2){
                font-size: 12px;
                color:#ED6B6C;
                display: inline-flex;
                align-items: center;
            }
            .b-line{
                border-bottom: 1px solid #FADD55;
            }
            .top-head img{
                width: 25px;
                margin-top: 12px;
                margin-left: 12px;
            }
            .page-title{
                margin-top: 64px;
                margin-bottom: 40px;
            }
            .verification-part{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            .verification-part input{
                width: 200px;
            }
            .verification-word{
                color: #433217;
                font-size: 12px;
                display: inline-flex;
                max-width: 140px;
                height: 25px;
                background:linear-gradient(98deg,rgba(252,240,130,1),rgba(251,231,82,1));
                background-size: 100% 100%;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
            }
            .verification-g-word{
                color: #fff;
                font-size: 12px;
                display: inline-flex;
                width: 90px;
                height: 25px;
                background: #D7D7D7;
                background-size: 100% 100%;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
            }
			.re-div {
			    margin: 6em auto;
			    width: 400px;
			}
			.li-block{
				margin-bottom: 25px;
			    border-radius: 5px;
			    border: 1px solid #d9d9d9;
			    width: 100%;
			    height: 40px;
			    box-sizing: border-box;
			}
			.allregins{
			    width: 100%;
			    height: 40px;
			    padding: 6px;
			    font-size:14px;
			    color: #5a5a5a;
			    box-sizing: border-box;
			    background: none;
			    border: 0;
			}
			.allregins option{
			    width: 300px;
			    background: #fff;
			}
			.phone-part .li-block{
			    display: flex;
			    flex-direction: row;
			    align-items: center;
			}
			.re-success {
			    width: 900px;
			    margin: 5em auto 3em;
			}
.editinfo-img {
    position: relative;
    overflow: hidden;
    line-height: 0;
    margin: 0px auto 0px;
    border-radius: 50%;
    border: 8px solid rgba(255, 176, 64, 0.15);
}
input#PhotoF {
    opacity: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 10;
}
img.edit-moren {
    width: 80px;
    border-radius: 50%;
    border: 5px solid #fff;
    line-height: 0;
    z-index: 2;
}
img.edit-Photo {
    position: relative;
    top: 30px;
    width: 25px;
    left: -125px;
}
.main-mob {
    text-align: center;
    color: #8c8c8c;
    font-size: 12px;
    line-height: 24px;
    margin: 25px 20px;
}
.editinfo-text {
    font-size: 12px;
    color: #d49c4f;
}
.main-border {
    border-radius: 25px;
    padding-top: 15px;
}
.main-mob {
    text-align: center;
    color: #8c8c8c;
    font-size: 12px;
    line-height: 24px;
    margin: 25px 20px;
}
.login-inputs {
    caret-color: #f4521e;
    height: 50px;
    font-size: 14px;
    text-align: left;
	border: 0;
	width: 100%;
}
.login_mobiles {
    border-bottom: 1px solid #f4521e73;
    font-size: 14px;
    color: #333333;
}
.main-edit {
    overflow: hidden;
    margin: -17px 20px;
    color: #b1b1b1;
}
.login-vf-size {
    font-size: 12px;
}
.edit-color {
    float: left;
}
.edit-right {
    float: right;
}
input#birth {
    border-bottom: 1px solid #ededed;
}
.edit-icon-right {
    position: absolute;
    right: 25px;
}
img.login-r-img {
    width: 10px;
    margin-top: 6px;
}
input::-webkit-input-placeholder{
	color: #b1b1b1;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color: #b1b1b1;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color: #b1b1b1;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
	color: #b1b1b1;
}

input{
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.pc-re-title {
    text-align: left;
    margin: 5px 0;
    font-size: 18px;
}
.pc-re-cn {
    text-align: left;
    margin-bottom: 25px;
}
.el-date-editor.el-input.el-input--prefix.el-input--suffix.el-date-editor--date {
    width: 100%;
}