<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title></title>
		<meta name="keywords" content="BothLive">
		<meta name="description" content="BothLive">
		<link rel="stylesheet" href="../../page/css/main.css?v20200609" />
		<link rel="stylesheet" href="../../page/css/index.css?v20200609" />

		<style type="text/css">
			[v-cloak]{
				display: none;
			}
			span.give-font {
			    font-size: 10px;
			    color: #F4521E;
				background-image: url(img/give@2x.png);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				padding: 3px 5px;
			}
			.pay-font {
			    color: #ad47fc;
			    font-size: 12px;
			    border: 1px solid #d9b8f9;
			    padding: 3px 7px;
			    border-radius: 50px;
			}
		</style>
	</head>
	<body>
		<div id="rechargeNum" v-cloak class="main-box">
			<!--头部-->
			<header id="header" style="height: 50px;">
				<div class="main-box main-flex main-aic head" style="background: rgb(255, 255, 255);border-bottom: 1px solid rgb(232, 232, 232);">
					<div class="main-box main-flex">
						<img class="recharge_icon" style="margin-right: 5px;width: 25px;height: 25px;" src="../../image/logo@2x.png"/>
						<p class="main-f1" style="font-size: 16px;line-height: 25px;">{{ interLang.loginBotton }}</p>
						</div> 
						<div class="main-box main-f1 main-tac main-ellipsis head_md" style="font-weight: normal; font-size: 16px; color: rgb(51, 51, 51); opacity: 1;"></div> 
						<div class="main-box pay-font"  @click="SwitchAccount()">{{ interLang.paysa }}</div>
					</div>
			</header>
			
			<div class="main-relative" style="border-bottom: 5px solid #f4f4f5;">
			
				<div class="main-w10 main-hg main-box main-flex main-aic recharge_ul" style="padding: 15px;">
					<div class="main-box mine_head ">
						<img v-if="userInfo.uid" :src="userInfo.avatar"/>
						<img v-else src="../../page/img/public/default.png"/>
					</div>
					<div class="main-box main-f1 mine_md">
						<p class="main-box main-ellipsis mine_name" style="font-size: 18px;">{{ userInfo.nick }}</p>
						<p class="main-box mine_id">ID：{{ userInfo.uid ? userInfo.uid : interLang.youke }}</p>
					</div>
					<div class="main-box main-flex main-aic mine_edit">
						<span class="main-va recharge_num" style="font-size: 24px;">{{ money }}</span>
						<img class="main-va" width="28" style="margin-left: 5px;width: 28px;height: 28px;" src="../../page/img/mine/r_03.png"/>
					</div>
				</div>
			</div>
			
			<!--主体-->
			<div class="main-box">
				<div style="border-bottom: 5px solid #f4f4f5;">
					<p class="index_pl recharge_t2 recharge_pt2">{{ interLang.selectRecharge }}</p>
					<ul class="index_pl">
						<li class="main-flex main-aic recharge_li" style="padding-top: 5px;height: 55px;">
							<img class="recharge_icon" width="30" src="../../page/img/mine/r_08.png"/>
							<div class="main-hg main-f1 main-flex main-aic recharge_item">
								<p class="main-f1">{{ interLang.wxPay }}</p>
							</div>
						</li>
					</ul>
				</div>
				<p class="index_pl recharge_t2 recharge_pt2">{{interLang.selecmoney}}</p>
				<ul class="index_pl recharge_ul">
					<li class="main-flex main-aic main-bb index_pr recharge_hg" v-for="item in priceList"  @click="rechargeSend(item.id)">
						<img width="25" src="../../page/img/mine/r_02.png"/>
						<p class="main-f1 recharge_t3">{{ item.quantity }}
						<span v-show="item.give!==0" class="give-font">{{ interLang.give }}{{ item.give }}</span>
						</p>
						<p class="main-tac recharge_pay"> {{ item.pay }}</p>
					</li>
				</ul>
			</div>
		</div>
	
		<script src="../../page/js/jquery-2.1.4.min.js"></script>
		<script src="../../page/js/vue.js"></script>
		<script src="../../page/js/lang-zhu.js?v20200609a"></script>
		<script src="../../page/js/app.js?v20200609a"></script>
		<script src="js/index.js?v20200609a"></script>
	</body>
</html>
